// @import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

@font-face {
  font-family: "whitney";
  src: url("./src/fonts/Whitney-Medium.woff");
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  // --font-titles: "Aboreto", cursive;
  // --font-text: "Open Sans", sans-serifl;

  --font-header: "PT Sans Narrow", sans-serif;
  --font-neon: "Tilt Neon", cursive;
  --font-marker: "Permanent Marker", cursive;
  --header-font: "whitney", sans-serif;
  --body-font: "Roboto", sans-serif;

  --timing: cubic-bezier(1, -0.01, 0.33, 1.25);

  --mmblue: #335c67;
  --mmtan: #fff3b0;
  --mmred: #9e2a2b;

  --trans: 1.5s;
  --trans-quick: 0.75s;
  --bad-input-text: "Hi! Please fill all sections out";

  --tactical-screen: #061114;
  --tactical-screen-trans: #0611147b;

  --bottom-padding: 150px;
}

#neighbor--video {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  // -webkit-transform: translate3d(0, 0, 0);
  // transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

#site--shell {
  width: min(100vw, 1200px);
  height: 100dvh;
  background-color: var(--mmblue);
}
.board1,
.board2,
.board3 {
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  border: 1px solid white;
}

.board1 {
  background-color: var(--mmblue);
}
.board2 {
  background-color: var(--mmred);
}
.board3 {
  background-color: var(--mmtan);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
// .safari--bug {
//   -webkit-mask-image: -webkit-radial-gradient(white, black);
// }
// .safari--bug2 {
//   -webkit-transform: translate3d(0, 0, 0);
// }

.ul--container {
  display: inline;
  width: 100%;
  background-color: #534f16;

  .ul--inline {
    li {
      display: inline;
      font-size: 1.5rem;
      margin: 0.5rem;
      a {
        font-family: var(--header-font);
      }
    }
  }
}

.fillAspect {
  width: 100%;
  aspect-ratio: 1/1;
}
.inDEV {
  display: none;
}
.spacer {
  position: relative;
  width: 100%;
  height: 2rem;
}
.mini--spacer {
  position: relative;
  width: 100%;
  height: 0.75rem;
}
.formatted--text {
  color: var(--BFI-white);
  font: var(--body-font) !important;
}
.marker {
  font-family: var(--font-marker);
}
a {
  color: var(--BFI-white);
}
.header--case {
  display: flex;
  justify-content: flex-start;
  h2 {
    padding: 0;
  }
}
.mob--centered {
  width: 100%;
  text-align: center;
}
.vert--padding {
  width: 100vw;
  padding: 3rem 15vw;
}
.zelda--aqua {
  background-color: #408ea2;
}
.zelda--padding {
  width: 100%;
  padding-right: 50%;
}
.zelda--header-pad {
  width: 100%;
  margin-right: auto;
}
.zelda--lineheight {
  line-height: 1.5rem;
}
.zelda--text {
  border: none;
  font-size: 1.5rem;
  line-height: 2.1rem;
  &.resetA {
    text-align: left;
  }
  &.small {
    font-size: 1.2rem;
    line-height: 1.5rem;

    &.size--bump {
      font-size: 1.3rem;
    }
    &.extrasmall {
      font-size: 1rem;
    }
  }

  &.white {
    color: var(--BFI-white);
  }
}
#zeldaPFormat {
  width: 80%;
}
.nopad {
  padding: 0% !important;
}
.marginAUTO {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &.left {
    text-align: left;
  }
}
.capped {
  text-transform: capitalize;
}
.fontMedium {
  font-weight: 400;
}

h1 {
  font-size: min(3rem, 12vw);
  font-family: var(--header-font);
}
h2 {
  color: var(--BFI-white);
  font-family: var(--header-font);
  font-size: min(3rem, 9vw);
}
h3 {
  font-size: min(2rem, 6vw);
}

h3,
h4,
h5,
h6,
p {
  font-family: var(--body-font);
}
p {
  color: var(--BFI-white);
}
text {
  color: var(--BFI-white);
}
.one6rem {
  font-size: min(1.5rem, 4vw);
}

.abs--below {
  position: absolute;
  top: 100%;
}

.cmsHIT {
  opacity: 0.6;
  border: 1px solid white;
}
.slide--in {
  opacity: 0;
  animation: fadingupandin 0.75s ease-out forwards;

  @for $i from 1 through 50 {
    &:nth-of-type(#{$i}) {
      animation-delay: 0s + (0.2 * $i);
    }
  }
}

@keyframes fadingupandin {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.header--font {
  // opacity: 0.3;
  font-size: clamp(40px, 6vw, 3rem) !important;
  display: block !important;
}
.force--header {
  font-family: var(--header-font) !important;
}
.home--link {
  position: fixed !important;
  z-index: 90;
  top: 0;
  left: 0;
  height: 12vh;
  aspect-ratio: 1/1;
  background-image: url("./src/images/icons/logo/BF_FINAL_OrangeLogo.png");

  background-size: 200%;
  background-position: center;
  background-color: var(--BFI-background-blue);
  border-radius: 50%;

  &::after {
    position: absolute;
    top: 100%;
    left: 45%;
    content: "â†";
    color: var(--BFI-white);
  }
  &:hover {
    height: 15vh;
  }
}
.icon--break {
  aspect-ratio: 1/1;
  min-width: 100px;
  width: 8vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-image: url("./src/images/icons/logoIcon.png");
  background-size: cover;
  background-position: center;
}

#abso {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.scroll--arrow {
  position: absolute;
  bottom: -30px;
  // IS LEFT BECAUSE PARENT FLIPPED HOIZONTALLY
  left: -30px;
  width: 40px;
  aspect-ratio: 1/1;
  background-image: url("./src/images/icons/arrow.png");
  background-size: cover;
}
.scroll--arrow2 {
  position: sticky;
  top: calc(100% - 40px);
  right: 0px;
  z-index: 90;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-top: auto;
  // aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--BFI-smoke);
  background-image: url("./src/images/icons/arrow.png");
  background-size: cover;
}
.download--icon {
  position: absolute;
  bottom: min(5%, 40px);
  right: min(5%, 40px);
  width: min(20%, 80px);
  aspect-ratio: 1/1;
  background-image: url("./src/images/icons/download icon bottom.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;

  transition: all 0.25s ease-out;

  // download arrow VVV
  .arrow {
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url("./src/images/icons/download icon top.png");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  &:hover {
    border: 3px solid var(--BFI-white);
    scale: 1.1;
    .arrow {
      opacity: 1;
      animation: drop-in 0.5s ease-out forwards;
    }
  }
}

@keyframes drop-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

.waved--professional-header {
  border: 3px solid;
  border-image-source: linear-gradient(-90deg, transparent, white);
  border-image-slice: 1;
  color: var(--BFI-white);
  margin-right: auto;
  margin-left: 10vw;
  min-width: 50vw;
  padding-left: 0.5rem;
  &.noBorder {
    border: none;
  }
}
.wavey--words {
  background-image: url("./src/images/icons/bigfishdemopaintstriperot.png");
  background-size: 105% 90%;
  background-position: 160%;
  background-repeat: no-repeat;
  padding: 0.5% 2%;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BFI-background-blue);
}
.mobile--show {
  display: none !important;
}
html {
  font-size: 16px;
}
#launch {
  position: absolute;
  top: 0;
  z-index: 90;
  left: 50vw;
  width: 100px;
  height: 20px;
}
.site--padding {
  background-color: var(--color-back);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site--shell {
  position: relative;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  // > div {
  //   -webkit-transform: translate3d(0, 0, 0);
  // }
}
.hidden {
  display: none !important;
}
.u {
  text-decoration: underline;
}
.i {
  font-style: italic;
}
ul {
  list-style: none;
}
.bold {
  font-weight: 800;
  scale: 1.1;
}
.b {
  display: inline;
  font-weight: 800;
}
.mRight {
  margin-left: auto;
  text-align: right;
}
.ind {
  margin-left: 1rem;
}
.words-header {
  font-family: var(--business-font);
}
.h {
  font-family: var(--letter-font);
  font-size: 1.5rem;
  line-height: 1rem;
}
.handy {
  font-family: var(--letter-font);
  font-size: 2.5rem;
  line-height: 3rem;
}
.under {
  text-decoration: underline;
}
.trans {
  opacity: 0;
}

.flex--break {
  flex-basis: 100%;
  height: 0;
  width: 0;
}

.mistback {
  background-color: var(--BFI-mist);
  color: var(--BFI-white);
}
.general-section {
  width: 70vw;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--BFI-mist);
  color: var(--BFI-white);
}
.latin {
  width: fit-content;
  // font-size: clamp(0.7rem, 1vw, 1.5rem);
  margin-left: auto;
  font-style: italic !important;
}

.bad--form {
  background-color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.padded--left {
  padding-left: 5%;
}
.padded--right {
  padding-right: 25%;
  &.p65 {
    padding-right: 65%;
  }
}
.pad--top-33 {
  padding-top: calc(50vh - 42%);
}
.pad--top-36 {
  padding-top: calc(50vh - 36%);
}

.quad--grid {
  display: grid !important;
  grid-template-columns: repeat(4, 21%);
  gap: 5.25%;
  width: 100%;
  > div {
    width: 100%;
    min-height: 17vw;
    // background-color: pink;
    // border: 1px solid black;
    // background-image: url();
  }
}
.flex--start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 15vh;
  &.contact {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.mobile--menu {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100%;
  // background-color: #24a5b5;
  display: none;
}

.transition--cover {
  .offset--down {
    transition: none;
    transform: translateY(100vh);
  }

  .offset--up {
    transform: translateY(-100vh);
  }

  &.offset--up {
    opacity: 0;
    transform: translateY(-100vh);
  }
  &.offset--upS {
    transform: translateY(-350vh);
  }
  &.offset--down {
    transform: translateY(100vh);
  }
  &.offset--left-soft {
    transform: translateX(-120%);
    opacity: 0;
  }
  &.offset--left {
    transform: translateX(-100vw);
  }
  &.offset--right {
    transform: translateX(100vw);
  }

  &.faded--down {
    transform: translateY(100%);
    opacity: 0%;
  }
  &.shrunk {
    scale: 0;
  }
}

.mobile--spacer {
  display: none;
}
//CSS
@media all and (max-width: 1023px) and (orientation: portrait) {
}

@media only screen and (max-width: 768px) {
  .ul--container {
    position: fixed !important;
    top: 20%;
    z-index: 90;
    display: inline;
    width: 100%;
    background-color: #534f16;
    padding: 1rem;
    border: 3px solid var(--BFI-white);

    .ul--inline {
      text-align: right;
      li {
        display: block;
        font-size: 1.5rem;
        margin: 0.5rem;
      }
    }
  }

  // .offset--upS {
  //   transform: translateY(-300vh);
  // }.mobile
  .mob--tucked-off {
    transform: translateX(100vw);
    &.slip {
      transform: translate(0vw 100vh);
    }
  }
  .zelda--padding {
    padding: unset;
  }

  .h3--mobile-INC {
    font-size: 2rem !important;
  }
  .mobile--hide {
    display: none;
  }
  .mobile--spacer {
    display: block;
    height: 1rem;
  }
  .mobile--padding {
    padding: 1rem !important;
  }
  .spacer {
    height: 1rem;
  }
  .flex--start {
    padding-left: 1rem;
  }
  .pad--top-36 {
    padding-top: 0;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 100% !important;

    &.paddedgrid {
      padding: 0;
      gap: 0;
    }
  }
  .mobile--menu {
    display: inline;
  }
  .mobile--show {
    display: inline !important;
    &.path--selector {
      display: flex !important;
      .slip--case {
        display: none;
      }
    }
  }

  .h {
    font-family: var(--letter-font);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
  }
  .ind {
    margin-left: 2rem;
  }
}
