@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@keyframes leftIn {
  0% {
    left: -30vw;
  }
  100% {
    left: 12vw;
  }
}
.grid2 {
  grid-template-columns: 50% 50%;
}

.grid3 {
  grid-template-columns: 33% 33% 33%;
}

.grid2,
.grid3 {
  display: grid !important;
  width: 100%;
}
.grid2.auto,
.grid3.auto {
  grid-template-columns: 1fr 1fr;
}
.grid2.fifty,
.grid3.fifty {
  grid-template-columns: 50% auto;
}
.grid2.sixty,
.grid3.sixty {
  grid-template-columns: 60% 40%;
  grid-template-columns: 60% auto;
}
.grid2.sixtyflip,
.grid3.sixtyflip {
  grid-template-columns: 40% 60%;
}
.grid2.grid4555,
.grid3.grid4555 {
  grid-template-columns: 45% 55%;
}
.grid2.seventy,
.grid3.seventy {
  grid-template-columns: 30% 70%;
}
.grid2.gappedgrid,
.grid3.gappedgrid {
  grid-template-columns: 1fr 1fr;
  gap: 8%;
}
.grid2.gappedgrid.offset6,
.grid3.gappedgrid.offset6 {
  grid-template-columns: 2fr 1fr;
}
.grid2 .grid,
.grid3 .grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex--div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.flex--div.fcentered {
  align-items: center;
  justify-content: center;
}
.flex--div .fcenter {
  align-items: center;
}
.flex--div.fleft {
  align-items: flex-start;
}

.dog--shell {
  width: 100%;
  height: 400px;
  background-color: chocolate;
}
.dog--shell > div {
  width: 100%;
}
.dog--shell .headshot {
  background-image: url("./src/images/istockphoto-157653757-1024x1024.jpg");
  aspect-ratio: 1/1;
  background-size: cover;
}

header {
  position: relative;
  background-color: pink;
  display: flex;
  align-items: center;
  width: 100%;
  height: 15vh;
  max-height: 150px;
  margin-bottom: 10vh;
}
header nav {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
header nav ul li {
  font-size: 2rem;
}
header nav ul li.logo {
  background-color: saddlebrown;
  width: 240px;
}
header nav ul li.menu__links {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .subheader {
  position: absolute;
  height: 8vh;
  background-color: rgba(255, 127, 80, 0.516);
  bottom: -7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
}

@media only screen and (max-width: 768px) {
  header nav {
    top: 0;
    z-index: 50;
    height: 100vh;
    display: block;
    padding-top: 15vh;
  }
  header nav ul {
    display: block;
    pointer-events: none;
  }
  header nav ul li {
    margin: 5vh;
    background-color: cadetblue;
    transition: all 0.6s cubic-bezier(1, -0.01, 0, 0.98);
  }
  header nav ul li.logo {
    display: none;
  }
  header nav ul li.menu__links:nth-child(1) {
    transition-delay: 0.25s;
  }
  header nav ul li.menu__links:nth-child(2) {
    transition-delay: 0.4s;
  }
  header nav ul li.menu__links:nth-child(3) {
    transition-delay: 0.55s;
  }
  header nav ul li.menu__links:nth-child(4) {
    transition-delay: 0.7s;
  }
  header nav ul li.menu__links:nth-child(5) {
    transition-delay: 0.85s;
  }
  header nav ul li.menu__links_tucked {
    transform: translateX(100vw);
  }
  button {
    background: transparent;
    border: 10px solid var(--button-color, #000);
    border-radius: 1rem;
  }
  .button-three {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    aspect-ratio: 1/1;
    --button-color: black;
    overflow: hidden;
  }
  .button-three svg {
    pointer-events: none;
  }
  .button-three .hamburger {
    transition: translate 1s, rotate 1s;
  }
  .button-three[aria-expanded=true] .hamburger {
    translate: 10px -10px;
    rotate: 0.125turn;
  }
  .button-three .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
  }
  .button-three[aria-expanded=true] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }
}
@font-face {
  font-family: "whitney";
  src: url("./src/fonts/Whitney-Medium.woff");
}
:root {
  --font-header: "PT Sans Narrow", sans-serif;
  --font-neon: "Tilt Neon", cursive;
  --font-marker: "Permanent Marker", cursive;
  --header-font: "whitney", sans-serif;
  --body-font: "Roboto", sans-serif;
  --timing: cubic-bezier(1, -0.01, 0.33, 1.25);
  --mmblue: #335c67;
  --mmtan: #fff3b0;
  --mmred: #9e2a2b;
  --trans: 1.5s;
  --trans-quick: 0.75s;
  --bad-input-text: "Hi! Please fill all sections out";
  --tactical-screen: #061114;
  --tactical-screen-trans: #0611147b;
  --bottom-padding: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

#site__shell {
  width: min(100vw, 1200px);
  height: 100dvh;
  background-color: var(--mmblue);
}

.board1,
.board2,
.board3 {
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  border: 1px solid white;
}

.board1 {
  background-color: var(--mmblue);
}

.board2 {
  background-color: var(--mmred);
}

.board3 {
  background-color: var(--mmtan);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ul__container {
  display: inline;
  width: 100%;
  background-color: #534f16;
}
.ul__container .ul__inline li {
  display: inline;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.ul__container .ul__inline li a {
  font-family: var(--header-font);
}

.fillAspect {
  width: 100%;
  aspect-ratio: 1/1;
}

.inDEV {
  display: none;
}

.spacer {
  position: relative;
  width: 100%;
  height: 2rem;
}

.mini__spacer {
  position: relative;
  width: 100%;
  height: 0.75rem;
}

.formatted__text {
  color: var(--BFI-white);
  font: var(--body-font) !important;
}

.marker {
  font-family: var(--font-marker);
}

a {
  color: var(--BFI-white);
}

.header__case {
  display: flex;
  justify-content: flex-start;
}
.header__case h2 {
  padding: 0;
}

.mob--centered {
  width: 100%;
  text-align: center;
}

.vert--padding {
  width: 100vw;
  padding: 3rem 15vw;
}

.nopad {
  padding: 0% !important;
}

.marginAUTO {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.marginAUTO.left {
  text-align: left;
}

.capped {
  text-transform: capitalize;
}

.fontMedium {
  font-weight: 400;
}

h1 {
  font-size: min(3rem, 12vw);
  font-family: var(--header-font);
}

h2 {
  color: var(--BFI-white);
  font-family: var(--header-font);
  font-size: min(3rem, 9vw);
}

h3 {
  font-size: min(2rem, 6vw);
}

h3,
h4,
h5,
h6,
p {
  font-family: var(--body-font);
}

p {
  color: var(--BFI-white);
}

text {
  color: var(--BFI-white);
}

.one6rem {
  font-size: min(1.5rem, 4vw);
}

.abs--below {
  position: absolute;
  top: 100%;
}

.cmsHIT {
  opacity: 0.6;
  border: 1px solid white;
}

.slide--in {
  opacity: 0;
  animation: fadingupandin 0.75s ease-out forwards;
}
.slide--in:nth-of-type(1) {
  animation-delay: 0.2s;
}
.slide--in:nth-of-type(2) {
  animation-delay: 0.4s;
}
.slide--in:nth-of-type(3) {
  animation-delay: 0.6s;
}
.slide--in:nth-of-type(4) {
  animation-delay: 0.8s;
}
.slide--in:nth-of-type(5) {
  animation-delay: 1s;
}
.slide--in:nth-of-type(6) {
  animation-delay: 1.2s;
}
.slide--in:nth-of-type(7) {
  animation-delay: 1.4s;
}
.slide--in:nth-of-type(8) {
  animation-delay: 1.6s;
}
.slide--in:nth-of-type(9) {
  animation-delay: 1.8s;
}
.slide--in:nth-of-type(10) {
  animation-delay: 2s;
}
.slide--in:nth-of-type(11) {
  animation-delay: 2.2s;
}
.slide--in:nth-of-type(12) {
  animation-delay: 2.4s;
}
.slide--in:nth-of-type(13) {
  animation-delay: 2.6s;
}
.slide--in:nth-of-type(14) {
  animation-delay: 2.8s;
}
.slide--in:nth-of-type(15) {
  animation-delay: 3s;
}
.slide--in:nth-of-type(16) {
  animation-delay: 3.2s;
}
.slide--in:nth-of-type(17) {
  animation-delay: 3.4s;
}
.slide--in:nth-of-type(18) {
  animation-delay: 3.6s;
}
.slide--in:nth-of-type(19) {
  animation-delay: 3.8s;
}
.slide--in:nth-of-type(20) {
  animation-delay: 4s;
}
.slide--in:nth-of-type(21) {
  animation-delay: 4.2s;
}
.slide--in:nth-of-type(22) {
  animation-delay: 4.4s;
}
.slide--in:nth-of-type(23) {
  animation-delay: 4.6s;
}
.slide--in:nth-of-type(24) {
  animation-delay: 4.8s;
}
.slide--in:nth-of-type(25) {
  animation-delay: 5s;
}
.slide--in:nth-of-type(26) {
  animation-delay: 5.2s;
}
.slide--in:nth-of-type(27) {
  animation-delay: 5.4s;
}
.slide--in:nth-of-type(28) {
  animation-delay: 5.6s;
}
.slide--in:nth-of-type(29) {
  animation-delay: 5.8s;
}
.slide--in:nth-of-type(30) {
  animation-delay: 6s;
}
.slide--in:nth-of-type(31) {
  animation-delay: 6.2s;
}
.slide--in:nth-of-type(32) {
  animation-delay: 6.4s;
}
.slide--in:nth-of-type(33) {
  animation-delay: 6.6s;
}
.slide--in:nth-of-type(34) {
  animation-delay: 6.8s;
}
.slide--in:nth-of-type(35) {
  animation-delay: 7s;
}
.slide--in:nth-of-type(36) {
  animation-delay: 7.2s;
}
.slide--in:nth-of-type(37) {
  animation-delay: 7.4s;
}
.slide--in:nth-of-type(38) {
  animation-delay: 7.6s;
}
.slide--in:nth-of-type(39) {
  animation-delay: 7.8s;
}
.slide--in:nth-of-type(40) {
  animation-delay: 8s;
}
.slide--in:nth-of-type(41) {
  animation-delay: 8.2s;
}
.slide--in:nth-of-type(42) {
  animation-delay: 8.4s;
}
.slide--in:nth-of-type(43) {
  animation-delay: 8.6s;
}
.slide--in:nth-of-type(44) {
  animation-delay: 8.8s;
}
.slide--in:nth-of-type(45) {
  animation-delay: 9s;
}
.slide--in:nth-of-type(46) {
  animation-delay: 9.2s;
}
.slide--in:nth-of-type(47) {
  animation-delay: 9.4s;
}
.slide--in:nth-of-type(48) {
  animation-delay: 9.6s;
}
.slide--in:nth-of-type(49) {
  animation-delay: 9.8s;
}
.slide--in:nth-of-type(50) {
  animation-delay: 10s;
}

@keyframes fadingupandin {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.header--font {
  font-size: clamp(40px, 6vw, 3rem) !important;
  display: block !important;
}

.force__header {
  font-family: var(--header-font) !important;
}

.home__link {
  position: fixed !important;
  z-index: 90;
  top: 0;
  left: 0;
  height: 12vh;
  aspect-ratio: 1/1;
  background-image: url("./src/images/icons/logo/BF_FINAL_OrangeLogo.png");
  background-size: 200%;
  background-position: center;
  background-color: var(--BFI-background-blue);
  border-radius: 50%;
}
.home__link::after {
  position: absolute;
  top: 100%;
  left: 45%;
  content: "←";
  color: var(--BFI-white);
}
.home__link:hover {
  height: 15vh;
}

.scroll__arrow {
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 40px;
  aspect-ratio: 1/1;
  background-image: url("./src/images/icons/arrow.png");
  background-size: cover;
}

.scroll__arrow2 {
  position: sticky;
  top: calc(100% - 40px);
  right: 0px;
  z-index: 90;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-top: auto;
  border-radius: 50%;
  background-color: var(--BFI-smoke);
  background-image: url("./src/images/icons/arrow.png");
  background-size: cover;
}

.download__icon {
  position: absolute;
  bottom: min(5%, 40px);
  right: min(5%, 40px);
  width: min(20%, 80px);
  aspect-ratio: 1/1;
  background-image: url("./src/images/icons/download icon bottom.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 0.25s ease-out;
}
.download__icon .arrow {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url("./src/images/icons/download icon top.png");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
.download__icon:hover {
  border: 3px solid var(--BFI-white);
  scale: 1.1;
}
.download__icon:hover .arrow {
  opacity: 1;
  animation: drop-in 0.5s ease-out forwards;
}

@keyframes drop-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BFI-background-blue);
}

.mobile--show {
  display: none !important;
}

html {
  font-size: 16px;
}

#launch {
  position: absolute;
  top: 0;
  z-index: 90;
  left: 50vw;
  width: 100px;
  height: 20px;
}

.site--padding {
  background-color: var(--color-back);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site__shell {
  position: relative;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hidden {
  display: none !important;
}

.u {
  text-decoration: underline;
}

.i {
  font-style: italic;
}

ul {
  list-style: none;
}

.bold {
  font-weight: 800;
  scale: 1.1;
}

.b {
  display: inline;
  font-weight: 800;
}

.mRight {
  margin-left: auto;
  text-align: right;
}

.ind {
  margin-left: 1rem;
}

.words-header {
  font-family: var(--business-font);
}

.h {
  font-family: var(--letter-font);
  font-size: 1.5rem;
  line-height: 1rem;
}

.handy {
  font-family: var(--letter-font);
  font-size: 2.5rem;
  line-height: 3rem;
}

.under {
  text-decoration: underline;
}

.trans {
  opacity: 0;
}

.flex--break {
  flex-basis: 100%;
  height: 0;
  width: 0;
}

.mistback {
  background-color: var(--BFI-mist);
  color: var(--BFI-white);
}

.general-section {
  width: 70vw;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--BFI-mist);
  color: var(--BFI-white);
}

.latin {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-style: italic !important;
}

.bad--form {
  background-color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.padded--left {
  padding-left: 5%;
}

.padded--right {
  padding-right: 25%;
}
.padded--right.p65 {
  padding-right: 65%;
}

.pad--top-33 {
  padding-top: calc(50vh - 42%);
}

.pad--top-36 {
  padding-top: calc(50vh - 36%);
}

.quad--grid {
  display: grid !important;
  grid-template-columns: repeat(4, 21%);
  gap: 5.25%;
  width: 100%;
}
.quad--grid > div {
  width: 100%;
  min-height: 17vw;
}

.flex--start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 15vh;
}
.flex--start.contact {
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
}

.mobile--menu {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100%;
  display: none;
}

.transition--cover .offset--down {
  transition: none;
  transform: translateY(100vh);
}
.transition--cover .offset--up {
  transform: translateY(-100vh);
}
.transition--cover.offset--up {
  opacity: 0;
  transform: translateY(-100vh);
}
.transition--cover.offset--upS {
  transform: translateY(-350vh);
}
.transition--cover.offset--down {
  transform: translateY(100vh);
}
.transition--cover.offset--left-soft {
  transform: translateX(-120%);
  opacity: 0;
}
.transition--cover.offset--left {
  transform: translateX(-100vw);
}
.transition--cover.offset--right {
  transform: translateX(100vw);
}
.transition--cover.faded--down {
  transform: translateY(100%);
  opacity: 0%;
}
.transition--cover.shrunk {
  scale: 0;
}

.mobile--spacer {
  display: none;
}

@media only screen and (max-width: 768px) {
  .ul--container {
    position: fixed !important;
    top: 20%;
    z-index: 90;
    display: inline;
    width: 100%;
    background-color: #534f16;
    padding: 1rem;
    border: 3px solid var(--BFI-white);
  }
  .ul--container .ul--inline {
    text-align: right;
  }
  .ul--container .ul--inline li {
    display: block;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  .mob--tucked-off {
    transform: translateX(100vw);
  }
  .mob--tucked-off.slip {
    transform: translate(0vw 100vh);
  }
  .zelda--padding {
    padding: unset;
  }
  .h3--mobile-INC {
    font-size: 2rem !important;
  }
  .mobile--hide {
    display: none;
  }
  .mobile--spacer {
    display: block;
    height: 1rem;
  }
  .mobile--padding {
    padding: 1rem !important;
  }
  .spacer {
    height: 1rem;
  }
  .flex--start {
    padding-left: 1rem;
  }
  .pad--top-36 {
    padding-top: 0;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 100% !important;
  }
  .grid2.paddedgrid {
    padding: 0;
    gap: 0;
  }
  .mobile--menu {
    display: inline;
  }
  .mobile--show {
    display: inline !important;
  }
  .mobile--show.path--selector {
    display: flex !important;
  }
  .mobile--show.path--selector .slip--case {
    display: none;
  }
  .h {
    font-family: var(--letter-font);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
  }
  .ind {
    margin-left: 2rem;
  }
}/*# sourceMappingURL=index.css.map */