#contactForm,
#adoptionForm,
#fosterForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 1rem 0px;
  margin: auto;
  margin-top: 8px;
  animation: popInFromLeft 0.5s ease-in;

  > .form-group {
    display: flex;
    align-content: flex-start;
    margin: 0.5rem 0px;
    flex-direction: column;

    > label {
      width: fit-content;
      text-transform: uppercase;
      display: inline-block;
      font-family: var(--header-font);
      color: var(--BFI-white);
      font-size: 1rem;
    }

    input,
    textarea {
      width: 100%;
      max-width: 520px;
      line-height: 1.5rem;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: "content time";
      }
    }
  }
  #submit {
    bottom: -60px;
    left: calc(50% - 10px);
    width: 80px;
    height: 35px;
    font-size: 1rem;
    font-family: var(--header-font);
    background-color: var(--BFI-white);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    &:hover {
      scale: 1.35;
    }
  }
}
